.profile {
  margin: 10px auto 0;
  padding-top: 20px;
  width: 300px;
  height: 260px;
  background-color: whitesmoke;
  box-shadow: 0px 25px 20px -1px rgba(51, 49, 43, 0.75);
}

.description {
  margin: 0 auto;
  width: 260px;
}

.avatar {
  margin: 0 auto;
  background-color: rgba(49, 40, 40, 0.5);
  border-radius: 70px;
  border: 1px solid rgb(61, 57, 57);
}

.name {
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.tag {
  margin-bottom: 10px;
  text-align: center;
  color: gray;
}

.location {
  text-align: center;
  color: gray;
}

.stats {
  display: flex;
  margin-top: 30px;
  list-style: none;
  justify-content: center;
  background-color: rgb(214, 240, 220);
}

.statsItem {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 70px;
  border-right: 1px solid rgb(141, 133, 133);
}

.statsItem:last-child {
  border-right: none;
}

.label {
  color: gray;
}

.quantity {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
