.transactionHistory {
  margin: 50px auto 50px;
  box-shadow: 5px 5px 5px gray;
  border-radius: 4px;
}

.trhead {
  height: 40px;
  background-color: rgb(15, 180, 209);
  color: whitesmoke;
  text-transform: uppercase;
}

.th {
  font-size: 13px;
  width: 200px;
  border-radius: 5px;
}

.th:last-child {
  border-right: none;
}

.trbody {
  height: 40px;
  text-align: center;
  color: rgb(82, 78, 78);
}
